body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(89deg, rgb(240, 79, 79) 0%, rgb(255, 255, 255) 100%); /* w3c */
}

button {
  cursor: pointer;
}
